.root {
  position: relative;

  @media (max-width: 1030px) {
    .input {
      width: 230px;
      padding: 10px 40px;

      &:focus {
        width: 250px;
      }
    }
  }

  @media (max-width: 990px) {
    .input {
      width: 150px;
      padding: 10px 40px;

      &:focus {
        width: 150px;
      }
    }
  }

  @media (max-width: 690px) {
    padding-bottom: 20px;
    .input {
      width: 200px;

      &:focus {
        width: 250px;
      }
    }
  }

}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.5;
  left: 15px;
  top: 12px;
}

.closeIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  right: 15px;
  top: 12px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 50px;
  border-radius: 15px;
  width: 280px;
  font-size: 18px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 2px solid rgba(0, 0, 0, 0.4);
    width: 350px;
  }
}
